body{
  background-image: url("https://i.imgur.com/Lka05ov.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  -webkit-text-stroke-width: 1px; /* Defines the thickness of the outline */
  -webkit-text-stroke-color: black;
  color: #f5f5f5;
  text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px         #F90, 0px -20px 40px #C33;

}
#icon{
  width: 50px;
  height: 50px;
  transform: translate(-10px,-90px);
}
h1{
  text-align: center;

  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #999999;
  font-family: "Coral Pixels", serif;
  font-weight: bolder;
  font-style: italic;
  /*transform: translateY(200px);*/
  transform: translateY(-65px);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}

h2{
  text-align: center;

  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #999999;
  font-family: "Coral Pixels", serif;
  font-weight: bolder;
  font-style: italic;
  transform: translateY(-65px);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}



.box{
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: translateY(-300px);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}

#Pic{
  justify-content: center;
  width: 150px;
  height: 200px;

  display: block;
  align-items: center;
  transform: translate(675px,-100px);
  overflow: hidden;
}
#leftButton{
  transform: translate(600px,0px);
  background-color: #222222;
}
#rightButton{
  transform: translate(875px,-217px);
  background-color: #222222;
}
h2{
  transform: translateY(-200px);
}
#caption{
  text-align: center;

  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Coral Pixels", serif;
  font-weight: bolder;
  font-style: italic;
  transform: translateY(-65px);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.homeIcon {
  background-image: url("https://i.imgur.com/MImfqkj_d.png?maxwidth=520&shape=thumb&fidelity=high");
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  display: inline-block;
}

