body{
  background-image: url("https://media.istockphoto.com/id/1386931686/vector/dungeon-long-medieval-castle-corridor-with-torches-interior-of-ancient-palace-with-stone.jpg?s=612x612&w=0&k=20&c=EIyvHFq69Hy4Y4OQYBkSpbwbFus2v8vrZUWnlUda-6k=");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
