
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  .home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: "Coral Pixels", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 80px;
    -webkit-text-stroke-width: 2px; /* Defines the thickness of the outline */
    -webkit-text-stroke-color: black;
  }

