
p{
  text-align: center;

  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: #999999;
  font-family: "Coral Pixels", serif;
  font-weight: bolder;
  font-style: italic;
  transform: translateY(-65px);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}


figcaption{
  font-size: 40px;
  font-family: "Coral Pixels", serif;
  font-weight: normal;
  font-style: normal;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

#projects{
  transform: translate(15px,-320px);
}
#contact{
  align-items: center;
  transform: translate(370px,-320px);
}

#About{
  transform: translate(-390px,-320px);
}
a{
  text-decoration: none;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: center;


}
body {
  background-image: url("https://i.imgur.com/6wUCVv9_d.png?maxwidth=520&shape=thumb&fidelity=high");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@media (max-width: 768px) {
  body {
    background-attachment: scroll;
    background-position: center 35%;
  }
  figcaption{
    font-size: 100px;
    transform: translateY(-100px);
  }
  #contact{
    font-size: 300px;
    transform: translateX(-300px);
  }


  .grid {
    padding: 1rem;
  }

  #back {
    justify-self: center;

  }
}





