h1{
  /*color: greenyellow;*/
  display: flex;
  justify-content: center;
  font-family: "Tiny5", "bitcount grid double";
  font-weight: normal;
  font-size: xxx-large;
  color: #f5f5f5;
  text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px         #F90, 0px -20px 40px #C33;
/*-webkit-text-stroke: 1px black;*/
/*  text-shadow: #fff,#FF3,#F90,#C33;*/
/* text-shadow: 1px 1px 2px #fff;*/
/*  text-shadow: 2px 2px 5px #FF3;*/
/*  text-shadow: 2px 2px 5px #F90;*/
}
h2{
  display: flex;
  justify-content: center;
  color: burlywood;

}
#icon{
  width: 50px;
  height: 50px;
  transform: translate(-690px,-30px);
}


body{
  /*background-image:url("https://cdn.pixabay.com/photo/2017/09/26/22/23/dark-green-2790337_1280.png");*/
  background-image:url("https://www.shutterstock.com/image-vector/pixel-art-8-bit-retro-600nw-2513324701.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  /*background:linear-gradient(to bottom,blue,blueviolet );*/
  /*background-repeat: no-repeat;*/
  /*background-attachment: fixed;*/
}
.box{
  /*width: 1080px;*/
  width: auto;
  /*height: 200px;*/
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  justify-items: start;
  padding-bottom: -200px;
  padding-top: -200px;

  transform: translateY(100px);

}
img{
  width: 100px;
  height: 100px;
  padding-bottom: -200px;
  padding-top: -200px;
}
#torch{
  width:  400px;
  height:  400px;
  padding-bottom: -200px;
  padding-top: -200px;

}
#linkedin{
  width:  400px;
  height:  400px;
  transform: translateY(-180px);
}
#LinkedinCap{
  position: fixed;
  top: -45px;
  left: 250px;
  z-index: 10;
}
#gmail{
  position: fixed;
  top: -45px;
  left: 745px;

  z-index: 10;
}
#git{
  position: fixed;
  top: -45px;
  right: 175px;
  z-index: 10;
}
#email{
  width: 400px;
  height: 400px;
  transform: translateY(-180px);
}
#github{
  width: 400px;
  height: 400px;
  transform: translateY(-180px);
}
figcaption{
  display: flex;
  justify-content: center;
  font-family: "Tiny5", "bitcount grid double";
  font-weight: normal;
  font-size: xxx-large;
  color: #f5f5f5;
  text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px         #F90, 0px -20px 40px #C33;
  text-decoration: none;
  padding-bottom: -200px;
  padding-top: -200px;
}
a {
  display: inline-block;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: burlywood;
}

